body {
	margin: 0;
	font-family: $font-family-san-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.clearfix::before,
.clearfix::after {
	flex-basis: 0;
	order: 1;
}

.content-wrapper {
	position: relative;
	white-space: nowrap;
}

.row-inline-block {
	overflow: auto;
	width: 100%;
}

.scroller-right {
	&:focus {
		outline: 0px;
	}
	position: absolute;
	top: 20px;
	right: -61px;
	border: 0;
	background: none;
	color: #808080;
	cursor: pointer;
	padding: 20px;
	font-size: 25px;
}
